<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BNN - Bitcoin News Network</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script defer src="/js/script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alice&display=swap" rel="stylesheet" />
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <header>
        <h1 class="bnn-logo">BNN</h1>
    </header>

    <main>
        <h2 class="welcome-text">Welcome to the Bitcoin News Network</h2>

        <div class="btc-price-container">
            <p id="btc-price" class="btc-price-display">Loading...</p>
        </div>
    </main>

    <nav>
        <a href="/news"><i data-feather="file-text"></i></a>
        <a href="/"><i data-feather="home"></i></a>
        <a href="/top-holders"><i data-feather="dollar-sign"></i></a>
    </nav>

    <script>
        feather.replace();
    </script>
</body>
</html>
