body {
    background-color: #1a1a1a;
    color: #f7931a;
    font-family: "Alice", serif;
    text-align: center;
    margin: 0;
}

header h1 {
    letter-spacing: 8px; /* Adjust spacing as needed */
}

header {
    padding: 20px;
    font-size: 24px;
}

main {
    padding: 10px;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;;
    padding: 10px;
}

nav a {
    color: #f7931a;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a i {
    width: 24px;
    height: 24px;
    stroke-width: 1.5;
}

nav a.active i {
    stroke-width: 3; /* Bold active icon */
}

.extra-space {
    margin-top: 20px; /* Adjust as needed */
}

/* Bitcoin Price Box */
.btc-price-box {
    background: rgba(247, 147, 26, 0.1);
    border: 1px solid #f7931a;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ffcc80;
}

.btc-price{
    font-size: x-large;
    font-weight: bolder;
}